* {
	box-sizing: border-box;
}

section {
	position:relative;
	margin: auto;
	padding: 10px;
	width: 530px;
	height: 470px;
	background-color: hsl(0,0%,93%);
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=button] {
	width: 100px;
	padding: 5px 20px;
	font-size: 200%;
	font-weight: bold;
	background-color: white;
}

input[type=button].special {
	background-color: hsl(0,0%,95%);
}

input[type=button]:hover {
	background-color: hsl(0,0%,84%);
}

input[type=button]:active {
	background-color: hsl(0,0%,75%);
}

input[type=button].operators:hover {
	background-color: hsl(216, 70%, 60%);
	color: white;
}

input[type=button].operators:active {
	background-color: hsl(209, 100%, 90%);
	color: white;
}

input[type=number] {
	position: absolute;
	background-color: hsl(0,0%,91%);
	width: 150px;
	text-align: right;
}

input[type=text] {
	position: absolute;
	background-color: hsl(0,0%,91%);
	width: 150px;
	text-align: right;
}

span#errorMsg {
	color: red;
}
