* {
	box-sizing: border-box;
}

section {
	border: 1px solid blue;
	position: relative;
	margin: auto;
	width: 320px;
	height: 500px;
	background-color: rgb(237,237,237);
}

article {
	text-align: center;
}

table {
	position: absolute;
	bottom: 0;
	border-spacing: 0;
}

input[type=button] {
	width: 77px;
	height: 50px;
	padding: 0;
	font-size: 150%;
	background-color: white;
	border: none;
}

input[type=button].bolded {
	font-weight: bold;
}

input[type=button].special {
	background-color: rgb(240,240,240);
}

input[type=button]:hover {
	background-color: rgb(216,216,216);
}

input[type=button]:active {
	background-color: rgb(192,192,192);
}

input[type=button].operators:hover {
	background-color: rgb(0,98,177);
	color: white;
}

input[type=button].operators:active {
	background-color: rgb(146,207,255);
	color: white;
}

input[type=text] {
	padding: 0 10px;
	position: absolute;
	background-color: rgb(237,237,237);
	width: 150px;
	text-align: right;
	font-size: 42px;
	font-weight: bold;
	border: none;
}

input[type=text][disabled] {
	color: black;
}

input[type=text]#resultPath {
	width: 100%; 
	font-size: 100%;
	font-weight: normal; 
	height: 30px; 
	top: 90px;
}

span#errorMsg {
	color: red;
}

input#activeId2 {
	background-color: rgb(146,207,255);
	color: white;
}

input#activeId {
	background-color: rgb(192,192,192);
}