* {
	box-sizing: border-box;
}

body {
	background-size: cover;
	max-width: 1024px;
	margin: auto;
	background-color:hsl(0,0%,60%);
	margin-top: 50px;
}

section {
	min-height: 600px;
}

footer p {
	text-align: center;
	font-size: 140%;
}

a {
	text-decoration: none;
	color: black;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

section div {
	display: inline-block;
}

input[type=text] {
	padding: 12px 10px 9px 10px;
	border-radius: 5px;
}

#taskName {
	width: 500px;
}

section button {
	padding: 10px;
	width: 150px;
	cursor: pointer;
}

#message {
	font-size: 150%;
}

.empty {
	display: none;
}

table {
	border-collapse: collapse;
	margin-top: 50px;
	background-color: white;
}

table th, td {
	border: 2px solid black;
}

table td {
	text-align: center;
	height: 47px;
}

tr td:last-child {
	max-width: 400px;
	position: relative;
	padding-right: 35px;
}

tr td:nth-child(2) {
	word-wrap: break-word;
	max-width: 250px;
}

th:first-child {
	width: 70px;
}

th:nth-child(2) {
	width: 250px;
}

th:nth-child(3), th:nth-child(4) {
	width: 80px;
}

th:last-child {
	width: 400px;
}

.checkerBox {
	transform: scale(1.5);
	position: absolute;
	right: 4px;
	top: 5px;
	cursor: pointer;
}

.taskDeleteImg {
	position: absolute;
	right: 5px;
	top: 25px;
	cursor: pointer;
}

.alertColor::-webkit-input-placeholder {
	color: red;
}

.doneColor {
	background-color: hsl(120,100%,40%);
}

.sameDayColor {
	background-color: hsl(60,100%,70%);
}

.missedDayColor {
	background-color: hsl(0,100%,60%);
}

.readWriteSwitch {
	-webkit-user-modify: read-write;
}

.overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-color: hsl(0,0%,40%);
			overflow: hidden;
			width: 100;
			height: 0%;
			transition: .5s ease;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-user-modify: read-only;
}

.actionDiv {
	max-width: 370px;
	width: 370px;
	height: 100%;
	outline: none;
	word-wrap: break-word;
	text-align: center;
}